<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>
<select>
    <option th:each="p: ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
</select>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Img</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customers}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td th:text="${row.getProvince().getName()}"></td>
        <td><img th:src="@{'/i/'+${row.getImg()}}" width="100"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/customers/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/customers/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:if="${customers.hasPrevious()}"
   th:href="@{'/customers?page='+${customers.number - 1}}">Previous</a>
<span th:text="${customers.number + 1}"></span> | <span th:text="${customers.totalPages}"></span>
<a class="btn btn-primary" th:if="${customers.hasNext()}"
   th:href="@{'/customers?page='+${customers.number + 1}}">Next</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>